body{
    padding-left: 400px;
    padding-right: 400px;
    border: 10px solid black;
    /* border-color: brown; */
}
h1{
    border-color: gray;
    border-bottom: 1px solid;
}
li{
    margin-bottom: 10px;
}
img{
    width: 550px;
    height: 550px;
}